@import '~material-design-icons/iconfont/material-icons.css';

html, body {
    color: #777;

    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 12pt;
}

body {
    background: -moz-linear-gradient(top,  rgba(223,227,231,1) 0%, rgba(241,229,233,0.5) 30%, rgba(255,243,247,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(223,227,231,1) 0%,rgba(241,229,233,0.5) 30%,rgba(255,243,247,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(223,227,231,1) 0%,rgba(241,229,233,0.5) 30%,rgba(255,243,247,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe3e7', endColorstr='#00fff3f7',GradientType=0 ); /* IE6-9 */

}

.tan {
    background-color: #f8f9fa;
  }
  
  .white {
    background-color: #fff;
  }

.relative {
    position: relative;
}
